<!DOCTYPE html>
<html>
  <head>
    <%- include("./layout/head.ejs") %>
  </head>
  <body class="<%= ('undefined' != typeof process.global && 'undefined' != typeof process.THEME_LIST)?process.THEME_LIST[process.global.theme]:'theme-2' %>">
   <div class="mask hidden"></div>
   <%- include("./layout/header.ejs") %>
   <div class="table page-main-table">
     <div class="tr">
       <div class="td page-main-left">
         <%- include("./layout/sidebar.ejs") %>
       </div>
       <div class="td page-main-right">
         <%- include(["./users/container.ejs","./users/jurisdiction.ejs","./users/user_list.ejs"][index]) %>
         <!-- <%- include("./common/tips.ejs") %> -->
         <%- include("./layout/footer.ejs") %>
       </div>
     </div>
   </div>
   <!-- <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script> -->
   <script type="text/javascript" src="/js/master.js"></script>
  </body>
</html>
